body, html{
  margin:0;
  padding:0;
}
/*
--- inicio <HEADER> topBar
*/
.topBar {
  width: 100% !important;
  height: 56px;
  line-height:56px;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgba(187, 187, 187, 0.5);
  background: white;
  position: fixed;
}

.left-icons {
  text-align: left;
  width: 20%;
}

.center-icons {
  text-align: center;
  width: auto;
}

.right-icons {
  text-align: right;
  float: right;
  width: 20%;
}

svg.youtube-icon{
  width: 80px;
  height: 22px;
  vertical-align: middle;
}

.search-box{
  text-align: center;
  vertical-align: middle;
  max-width: 640px;
  min-width: 270px;
}

header a {
  text-decoration: none;
  color: #AAAAAA;
  size: 32px;
}

.search-form .search-button{
  display: inline-block;
  height: 28px;
  padding: 0 25px 0 25px;
  border: 1px solid #D3D3D3;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #D3D3D3;
  background-color: #f8f8f8;
  color: #7f8c8d;
  vertical-align: middle;
}

.search-input{
  display: inline-block;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 370;
  line-height: 24px;
  margin-left: 4px;
  width: 574px;
  max-width: 640px;
  min-width: 270px;
  height: 28px;
  border: 1px solid #D3D3D3;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #D3D3D3;
  background-color: #ffffff;
  color: #7f8c8d;
  vertical-align: middle;
}

/* FIN DE HEADER */

/*
===== inicio <section> youtube-video
*/
.youtube-video, .about-video{
  width: 890px;
  float: left;
  padding-bottom: 20px;
  padding-top : 70px;
  padding-left: 24px;
}
.title {
  padding-top: 25px;
  padding-bottom: 20px;
  color: black;
}
.number-of-views {
  text-align: left;
}
.views{
  color: #AAAAAA;
  text-decoration: none;
}

section a {
  text-decoration: none;
  color: #AAAAAA;
}

.suggested-videos{
  width: 25%;
  float: left;
  margin-bottom: 3px;
  padding-top: 70px;
  }

.icons{
    color: #AAAAAA;
  }

.all-comments{
  width:889px;
  float: left;
}

.content{
  height: 10%;
  width: 75%;
  float: left;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 5px;
}

.add-comment{
  padding-bottom: 3px;
  padding-top: 5px;
}

.song-name {
  font-size: 14;
  font-size-adjust: auto;

}
.author-views {
  font-size: 13;
  color: grey;
}


.suggestion{
  display: flex;
  flex-direction: row;
  align-items:center;
}
.suggestion img{
  flex-grow: 1;
  float: left;
  width: 168px;
  height: 94px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.all-comments{
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.suggestion p{  flex-grow: 1;}

.visitor-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

.visitor {
  border-radius: 50%;
  float: left;
}

.all-comments{
  font-family: Roboto, Arial, sans-serif;
  left: 9px;
}

/*----------------------------- body --------------------------------*/

.cuerpo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}
.Primaria{
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lateral{
  margin: 4px;
  padding: 70px 5px 5px 5px;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.about-listener{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 13px;

}
