body{
  background-color: #FFFFFF;
  color:white;
    padding-left: 35px;
}
/* 
  <HEADER> - TOPBAR
*/
.top-bar{
  /* https://i.ytimg.com/an/NYJOAz1J80HEJy2HSM772Q/featured_channel.jpg?v=5906e7b7 */
  height: 56px;
  width: 100%;
  /* padding: 0 16px; */
  align-items: center;
  vertical-align: middle;
  border-bottom: 0.5px solid rgba(187, 187, 187, 0.5);
  margin-right: 24px;
  padding-top: 12px;
  display: inline-block;
}

.left-icons{
  float: left;
  vertical-align: middle;
}

svg.youtube-icon{
  /* position: relative; */
  width: 80px;
  height: 22px;
  vertical-align: middle;
}

.search-box{
  /* position: relative; */
  /* display: inline; */
  /* justify-content: center; */
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

.right-icons{
  /* position: absolute; */
  float: right !important;
  vertical-align: top !important;
  padding-top: -20px;
  
}


header a {
  vertical-align: middle !important;  
  text-decoration: none;
  color: #AAAAAA;
  size: 32px;
}

.search-form .search-button{
  display: inline-grid;
  height: 28px;
  padding: 0 25px 0 25px;
  border: 1px solid #D3D3D3;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #D3D3D3;
  background-color: #f8f8f8;
  color: #7f8c8d;
  vertical-align: middle !important;
}

.search-input{
  display: inline-grid;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 370;
  line-height: 24px;
  margin-left: 4px;
  width: 574px;
  max-width: 640px;
  height: 28px;
  /* padding: 25 0px 0 25px; */
  border: 1px solid #D3D3D3;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #D3D3D3;
  background-color: #ffffff;
  color: #7f8c8d;
  vertical-align: middle !important;
}
/* 
  ------ Fin <HEADER> - TOPBAR
*/

.youtube-video, .about-video{
  width: 890px;
  float: left;
  padding-bottom: 20px;
  padding-top : 15px;
}
span{
  color: #AAAAAA
}
.suggested-videos{
  width: 25%;
  float: left;
  margin-bottom: 3px;
  }
.icons{
    color: grey;
  }

.all-comments{
  width:889px;
  float: left;
}

 .content{
  height: 10%;
  width: 75%;
  float: left;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 5px;
}
.add-comment{
  padding-bottom: 3px;
  padding-top: 5px;
}

.song-name {
font-size: 14;
  font-size-adjust: auto;

}
.author-views {
    font-size: 13;
    color: grey;
}

.suggestion img{
  float: left;
  width: 168px;
  height: 94px;
}

.visitor-photo {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
.visitor {
  border-radius: 50%;
  float: left;
}
.all-comments{
  font-family: Roboto, Arial, sans-serif;
  left: 9px;
}


